@import "./mediaQueries";

.index__lista {
    list-style: none;
    font-weight: 700;

    &--letras {
        font-family: 'Birthstone', cursive;
        font-weight: 700;
        font-size: 3rem;
        text-align: center;

        @include tablet {
            font-size: 2.2rem;
    }
        @include movilM() {
            font-size: 2.2rem;
        }

    }
}


.index__texto {
    font-size: 1.5rem;
    text-align: left;
    line-height: 1.5rem;
    margin: 4.1rem;

    @include movilM {
        font-size: 1rem;
        margin: 2rem;
        text-align: center;
    }

    &--fin {
        font-family:'birthstone', cursive;
        font-weight: 700;
        font-size: 3rem;
        text-align: center;
        padding-top: 2rem;

        @include tablet {
            line-height: 3rem;
        }

        @include movilM {
            font-size: 2rem;
            text-align: justify;
            line-height: 2.5rem;
        }

    }
}
