.nav {
    background-color: colorFondo;
    display: flex;
    justify-content: space-around;

    &__logo {
        width: 9rem;
        height: 6rem;
        border-radius: 1rem;
    }

    &__botones {
        justify-content: flex-end;
    }

    &__navItem {
        color: $rosita;
        text-transform: uppercase;
        font-weight: 700;
        padding: 0rem 2rem;
        text-decoration: none;
    }
    &__navItem:hover {
        color: $rosa;
    }
}