
*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    color:$letras;
}

body {
    font-size: 1.2rem;
    background-color: $colorFondo;
}

.grid {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.header {
    margin-bottom: .5rem;
    padding: 1rem;
    border-bottom: solid black 2px;
}